/Augusto/Intro-PG11/nbproject/private/
/Augusto/Intro-PG11/build/
/Augusto/IntroPG15/nbproject/private/
/Augusto/IntroPG15/build/
/Augusto/ej4-pg17/nbproject/private/
/Augusto/ej4-pg17/build/
/Augusto/ej5-pg19/nbproject/private/
/Augusto/ej5-pg19/build/