/Augusto/Intro-PG11/nbproject/private/
/Augusto/Intro-PG11/build/
/Augusto/IntroPG15/nbproject/private/
/Augusto/IntroPG15/build/
/Augusto/ej4-pg17/nbproject/private/
/Augusto/ej4-pg17/build/
/Augusto/ej5-pg19/nbproject/private/
/Augusto/ej5-pg19/build/
/Augusto/JavaApplication8/nbproject/private/
/Augusto/ejerciciosfaciles/nbproject/private/
/Augusto/ejerciciosfaciles/build/
/Augusto/condicionales/nbproject/private/
/Augusto/condicionales/build/
/Augusto/repeticiones/nbproject/private/
/Augusto/repeticiones/build/
/Augusto/EJERCICIO1_POO/nbproject/private/
/Augusto/EJERCICIO1/nbproject/private/
/Augusto/EJERCICIO1_POO/build/
/Augusto/ejercicio2/nbproject/private/
/Augusto/ejercicio2/build/
/Augusto/ejercicio3/nbproject/private/
/Augusto/ejercicio3/build/